html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f0eee8;
}

.link-card {
  border-radius: 8px;
  border: 2px 3px;
  background-color: #dcd4cd;
  border-width: 3px;
  border-style: solid;
  border-color: #9a816d;
  margin: 1em;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: #512200;
  margin: 1rem;
}

dl {
  color: #512200;
  margin: 1em;
  padding: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #9a816d;
}

dt {
  display: inline-block;
  width: 45%;
  padding: 0;
  margin: 0;
}

dd {
  font-style: italic;
  display: inline-block;
  width: 45%;
  padding: 0;
  margin: 0;
}

.btn {
  padding: .4em .75em .5em;
  display: inline-block;
  border-radius: 8px;
  background-color: #785439;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  margin: 1em;
}

p {
  color: #512200;
  margin: 1em;
  border-bottom: 2px solid #9a816d;
  padding-bottom: 1rem;
}

div:nth-child(4){
  text-align: center;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #9a816d;
  color: #512200;
}

.link-card:hover .btn {
  background-color: #512200;
  color: #f0eee8;
}

a {
  text-decoration: none;
}

.btn-wrap {
  text-align: center;
}
